{# Верхняя навигация #}
<div class="nav">
    <a href="/" class="nav-brand">{{ site_name }}</a>
    <div class="nav-links">
        <span class="nav-player" id="nav-player"></span>
        <div class="nav-server-container" id="nav-server-container" style="display: none;">
            <a href="/my-servers/" class="nav-server" id="nav-server-link" title="Выбрать сервер"></a>
        </div>
        <span class="user-login" id="user-login">...</span>
        <a href="#" id="logout-link" class="logout-icon" title="Выход"></a>
    </div>
</div>
